@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/CustomLayout.cshtml";
}

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Team<span class="highlight">Builder</span></h2>
        <p class="intro">A free mobile-friendly Bootstrap theme designed to help developers promote their personal projects</p>
        <div class="btns">
            <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Demo</a>
            <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/"
               target="_blank">Get Started</a>
        </div>
        <ul class="meta list-inline">
            <li><a href="#" target="_blank">View on GitHub</a></li>
            <li><a href="https://github.com/twbs/bootstrap" target="_blank">Full Documentation</a></li>
        </ul>
        <!--//meta-->
    </div>
    <!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">
                <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                <li class="github-star">
                    <iframe src="http://ghbtns.com/github-btn.html?user=gesh4o&repo=TeamBuilder&type=watch&count=true"
                            allowtransparency="true" seamless width="110" height="20"></iframe>
                </li>
                <li class="github-fork">
                    <iframe src="http://ghbtns.com/github-btn.html?user=gesh4o&repo=TeamBuilder&type=fork"
                            allowtransparency="true" seamless width="53" height="20"></iframe>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--//promo-->
<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is TeamBuilder?</h2>
        <p class="intro text-center">
            TeamBuilder is online based platform which allows you to organise your competitions, teamworks or even events.
            Imagine that you are orginising event in which different teams are particpating - wouldn't be nice to have all the data
            in one common place? TeamBuilder helps you with that.
        </p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Designed for simplicity</h3>
                    <p>
                        The main of the platform is to provide functionality for team management while that being simple and easy.
                    </p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Time saver</h3>
                    <p>
                        Do not use separate files or spritesheet. Gather your information in one place!
                    </p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->

            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Open Source</h3>
                    <p>
                        You can contribute to the project in our
                        <a href="https://github.com/gesh4o/teambuilder" target="_blank">Github</a> repository.
                    </p>
                </div>
                <!--//content-->
            </div>
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section>
<!--//about-->
<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <p>
                    If you haven't signed in already - @Html.ActionLink("Sign in", "Login", "Account"). <br />
                    You don't have an account - @Html.ActionLink("Register", "Register", "Account") for free.
                </p>
                <h3 class="sub-title text-center">Tutorial</h3>
                <p>
                    Check our YouTube tutorial on how to work with TeamBuilder:
                </p>
                <iframe id="video-tutorial" class="embed-responsive-item" src="https://www.youtube.com/embed/5VNitztbcLk" allowfullscreen></iframe>
            </div>
            <!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>
                    If your documentation is very long you can host the full docs page (including FAQ etc) on GitHub and
                    provide a Call to Action button below to direct users there.
                </p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/gesh4o/teambuilder" target="_blank">More on GitHub</a>
                </p>
            </div>
            <!--//block-->

        </div>
        <!--//docs-inner-->
    </div>
    <!--//container-->
</section>
<!--//features-->
<!-- ******LICENSE****** -->
<section id="license" class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">License</h2>
            <div class="info">
                <p>
                    This website is made by <a href="https://www.linkedin.com/in/" target="_blank">Georgi Stoimenov</a> and is <strong>100% FREE</strong> under the
                    <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a>
                </p>
            </div>
            <!--//info-->
            <div class="cta-container">
                <div class="speech-bubble">
                    <p class="intro">
                        If you are feeling generous and want to show your support, you can buy me a beer or
                        coffee via the PayPal donate button below. :)
                    </p>
                    <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                </div>
                <!--//speech-bubble-->
                <div class="btn-container  text-center">
                    <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->
                    <!--PayPal generated code starts-->
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <!--//PayPal generated code ends-->
                </div>
                <!--//btn-container-->
            </div>
            <!--//cta-container-->
        </div>
        <!--//license-inner-->
    </div>
    <!--//container-->
</section>
<!--//how-->
<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Contact</h2>
            <p class="intro  text-center">
                Feel free to get in touch if you have any questions or suggestions.
            </p>
            <div class="author-message">
                <div class="profile">
                    <img class="img-responsive" src="/Content/images/profile.jpg" alt="Gosho's picture" />
                </div>
                <!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Want to help?</h3>
                    <p>
                        Feel free to contact me about anything connected to the website.
                    <p>
                        If you like what I do, you can follow me on <a href="https://github.com/gesh4o" target="_blank">Github</a>.
                    </p>
                    <div class="source">
                        <span class="name"><a href="https://github.com/gesh4o" target="_blank">Georgi Stoimenov</a></span>
                        <br />
                        <span class="title">Developer</span>
                    </div>
                    <!--//source-->
                </div>
                <!--//speech-bubble-->
            </div>
            <!--//author-message-->
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li class="last"><a href="mailto:"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <!--//info-->
        </div>
        <!--//contact-inner-->
    </div>
    <!--//container-->
</section>
<!--//contact-->