/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

iframe {
    border: none;
}

@media (max-width: 992px) {
    .logo-title {
        display: none;
    }
}

#video-tutorial {
    width: 100%;
    height: 315px;
}

#logged-header {
    padding: 0;
    position: initial;
    background-color: #fff;
}

    #logged-header li a:hover {
        background: none;
    }

body {
    height: 100%;
    min-height: 100%;
}


#RememberMe {
    margin-left: 0;
}


/* For main page */
.search {
    margin-bottom: 20px;
}

.listed-event .fa-clock-o {
    margin-right: 5px;
}

.listed-team {
    display: block;
    margin-bottom: 5px;
}

    .listed-team i, .listed-event .fa-calendar {
        margin-right: 10px;
        color: black;
    }

    .listed-team:hover i, .listed-event:hover i {
        color: inherit;
    }

    .listed-team a, .listed-event a {
        color: black;
    }

        .listed-team a:hover, .listed-event a:hover {
            text-decoration-line: none;
        }

#new-team:after, #new-event:after {
    clear: both;
}

.no-margin-top {
    margin-top: 0;
}

#new-team:hover, #new-event:hover {
    text-decoration-line: none;
}

.upcoming-events {
    margin-top: 20px;
    margin-bottom: 40px;
}

.my-teams {
    margin-top: 20px;
}

.teams, .events, .users {
    padding-bottom: 20px;
}

.navbar-events {
    padding: 10px 5px 0 5px;
    color: #17baef;
}

.navbar-number {
    color: #0c86ae;
    font-weight: bold;
    position: relative;
    right: 10px;
    top: 10px;
}

.navbar-ico {
    font-size: 1.7em !important;
}

li.navbar-events a {
    padding: 0;
}

/* Profile page*/
.underline-nav {
    border-bottom: 1px solid #d1d5da;
}

.underline-nav-item {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid transparent;
}

    .underline-nav-item.selected {
        border-bottom-color: #eebf3f;
    }

.team-container, .event-container {
    padding: 20px 0;
}

    .team-container a:hover {
        text-decoration-line: none;
    }

    .team-container p, .event-container p, .team-additional-data, .event-additional-data {
        font-size: 1.2em;
    }

.team-logo {
    padding: 20px;
    margin: 0 auto;
}

.logo {
    width: 25%;
    text-align: center;
}

.team-details {
    padding-left: 25%
}

.team-additional-data:hover {
    cursor: default;
}

.team-additional-data i {
    font-size: 1.5em;
    padding: 5px;
}

.boxed-group {
    margin-bottom: 30px;
}

    .boxed-group h3 {
        display: block;
        padding: 9px 10px 10px;
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        background-color: #f6f8fa;
        border: 1px solid rgba(27,31,35,0.15);
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }


.box-group-inner {
    padding: 10px;
    padding-left: 20px;
    color: #586069;
    background: #fff;
    border: 1px solid #d1d5da;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inline, input.inline {
    display: inline-block;
}
.inline-group {
    padding-top: 10px;
}

#email-label {
    padding-top: 7px;
}

#file-input {
    margin-right: 20px;
    border: 1px solid #cccccc;
    text-align: center;
}

#btn-change-password-wrapper {
    padding-left: 0;
}

#btn-change-email:hover {
    text-decoration-line: none;
}

.small-ico {
    width: 30px;
    height: 30px;
}

.members, .requesters {
    padding-bottom: 20px;
    text-transform: capitalize;
}

.requester-username {
    font-size: 1.2em;
}

#btn-decline-request, #btn-accept-request {
    margin-left: 15px;
}

.header-margin {
    margin-bottom: 20px;
}