/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

iframe {
    border: none;
}

@media (max-width: 992px) {
    .logo-title {
        display: none;
    }
}

#video-tutorial {
    width: 100%;
    height: 315px;
}

#logged-header {
    padding: 0;
    position: initial;
    background-color: #fff;
}

    #logged-header li a:hover {
        background: none;
    }

.navbar-logged {
    margin-bottom: 0;
}

body {
    height: 100%;
    min-height: 100%;
}

.header {
    margin-bottom: 30px;
}

#RememberMe {
    margin-left: 0;
}


/* For main page */
.search {
    margin-bottom: 20px;
}

.listed-event .fa-clock-o {
    margin-right: 5px;
}

.listed-team {
    display: block;
    margin-bottom: 5px;
}

.listed-team i, .listed-event .fa-calendar{
    margin-right: 10px;
    color: black;
}

.listed-team:hover i, .listed-event:hover i {
    color: inherit;
}

.listed-team a, .listed-event a {
    color: black;
}

.listed-team a:hover, .listed-event a:hover {
    text-decoration-line: none;
}

#new-team:after, #new-event:after {
    clear: both;
}

.no-margin-top {
    margin-top: 0;
}

#new-team:hover, #new-event:hover {
    text-decoration-line: none;
}

.upcoming-events {
    margin-top: 20px;
    margin-bottom: 40px;   
}

.my-teams {
    margin-top: 20px;
}

.teams, .events, .users {
    padding-bottom: 20px;
}