<?xml version="1.0"?>
<configuration>
  <!-- For Dropbox tokens-->
  <appSettings>
    <add key="DropboxAccessToken" value="InsertDropboxToken" />
  </appSettings>

  <!-- For connection strings -->
  <connectionStrings>
    <add name="TeamBuilder" connectionString="Connection string here" />
  </connectionStrings>
</configuration>
